body {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 16px;
}

/* .container , .row{
  border: 1px solid red;
} */

.introduction {
  margin-bottom: 60px;
}

#logo {
  border-radius: 50%;
}

.nav-link {
  font-size: 15px;
}

.our__statement {
  padding-top: 140px;
  min-height: 350px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.our__statement h1 {
  font-size: 4rem;
  padding-bottom: 30px;
}

.our__statement h4 {
  padding-bottom: 30px;
}

.afromaker__btn {
  padding: 20px 45px;
  border-radius: 45px;
}

.project__container {
  overflow: hidden;
  /* border: 1px solid green; */
}

.sample__projects {
  margin-bottom: 60px;
}

/* .sample__project {
  border-radius: 5px;
} */

.project__container {
  margin-bottom: 30px;
  border-radius: 5px;
}

.project__container img {
  background-size: cover;
  height: 242px;
  max-width: 100%;
  border-radius: 4px;
}
.project__details {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 92%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-sizing: border-box;
  padding: 80px 40px;
  border-radius: 5px;
}

.project__details h2 {
  font-weight: bold;
}

.project__details:hover {
  display: block
}

.img__overlay {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  /* border: 1px solid red; */
}
/* .sample__project:hover {
} */

a {
  color: #f8f9fa
}

a:hover {
  color: rgba(255, 255, 255, 0.6)
}
